.DS_Store
*.jpg
*.jpeg
.Rhistory
/.quarto/
_site/
.Rproj.user
.Rproj.user/4CD0A672/pcs/workbench-pane.pper
.Rproj.user/
/.Rproj.user/
.quarto/xref/32ddf665
.vscode/settings.json
quarto-articles.code-workspace
.Rhistory
*.pper
/_freeze
*_cache
*/figure-html/
*/figure-pdf/
.Rhistory
site_libs
*.png
.Rproj.user/*
.Rproj.user/4CD0A672/pcs/files-pane.pper
**/figure-html/
**/figure-pdf/
**/figure-docx/
autobib.bib
.Rproj.user/4CD0A672/pcs/source-pane.pper
.Rproj.user/4CD0A672/pcs/windowlayoutstate.pper
**.pper
_extensions/
cv*.tex

/.luarc.json

**/*.quarto_ipynb
autobib.bak
quarto-hover-bug-report.txt
blog/almost-classical/almost-classical.bib
posts/kahis-symposium/McGrath-contribution.pdf
posts/kahis-symposium/McGrath-contribution.md
posts/kahis-symposium/McGrath-contribution.docx
posts/kahis-symposium/Friedman-contribution.pdf
posts/kahis-symposium/_Friedman-summary.md
posts/kahis-symposium/_McGrath-summary.md
posts/synthetic/analytic-synthetic-and-a-priori-a-posteriori.qmd
posts/kahis-symposium/_McGrath-contribution.md
posts/sander-book/Logical Posltivism, corrected proofs.pdf
