.DS_Store
*.jpg
*.jpeg
/.quarto/
_site/
.Rproj.user
.Rproj.user/4CD0A672/pcs/workbench-pane.pper
.Rproj.user/
.quarto/xref/32ddf665
.vscode/settings.json
quarto-articles.code-workspace
.Rproj.user/4CD0A672/pcs/source-pane.pper
.Rproj.user/4CD0A672/pcs/windowlayoutstate.pper
.Rhistory
*.pper
/_freeze
*_cache
*/figure-html/
*/figure-pdf/
_freeze/posts/four-problems/four-problems-march-25-2024/figure-html/fig-coin-then-demon-1.pdf
_freeze/posts/four-problems/four-problems-march-25-2024/figure-html/fig-coin-then-demon-1.png
_freeze/posts/four-problems/four-problems-march-25-2024/figure-html/fig-demon-then-coin-1.pdf
_freeze/posts/four-problems/four-problems-march-25-2024/figure-html/fig-demon-then-coin-1.png
_freeze/posts/four-problems/four-problems-march-25-2024/figure-html/fig-standard-newcomb-1.pdf
_freeze/posts/four-problems/four-problems-march-25-2024/figure-html/fig-standard-newcomb-1.png
posts/four-problems/four-problems-march-25-2024_files/figure-html/fig-coin-then-demon-1.pdf
posts/four-problems/four-problems-march-25-2024_files/figure-html/fig-coin-then-demon-1.png
posts/four-problems/four-problems-march-25-2024_files/figure-html/fig-demon-then-coin-1.pdf
posts/four-problems/four-problems-march-25-2024_files/figure-html/fig-demon-then-coin-1.png
posts/four-problems/four-problems-march-25-2024_files/figure-html/fig-standard-newcomb-1.pdf
posts/four-problems/four-problems-march-25-2024_files/figure-html/fig-standard-newcomb-1.png
posts/four-problems/four-problems-march-25-2024_files/figure-html/fig-ultimatum-1.pdf
posts/four-problems/four-problems-march-25-2024_files/figure-html/fig-ultimatum-1.png
.Rproj.user/4CD0A672/pcs/windowlayoutstate.pper
.Rproj.user/4CD0A672/pcs/workbench-pane.pper
.Rproj.user/4CD0A672/pcs/source-pane.pper
.Rproj.user/4CD0A672/pcs/windowlayoutstate.pper
.Rhistory
.Rproj.user/4CD0A672/pcs/files-pane.pper
.Rproj.user/4CD0A672/pcs/source-pane.pper
.Rproj.user/4CD0A672/pcs/windowlayoutstate.pper
.Rproj.user/4CD0A672/pcs/workbench-pane.pper
site_libs
*.png
.Rproj.user/*
