.DS_Store
*.jpg
*.jpeg
.Rhistory
/.quarto/
_site/
.Rproj.user
.Rproj.user/4CD0A672/pcs/workbench-pane.pper
.Rproj.user/
/.Rproj.user/
.quarto/xref/32ddf665
.vscode/settings.json
quarto-articles.code-workspace
.Rhistory
*.pper
/_freeze
*_cache
*/figure-html/
*/figure-pdf/
.Rhistory
site_libs
*.png
.Rproj.user/*
.Rproj.user/4CD0A672/pcs/files-pane.pper
**/figure-html/
**/figure-pdf/
**/figure-docx/
autobib.bib
.Rproj.user/4CD0A672/pcs/source-pane.pper
.Rproj.user/4CD0A672/pcs/windowlayoutstate.pper
**.pper
_extensions/