/*-- scss:defaults --*/
$table-accent-bg:            #002b36;
$table-hover-bg:             #002b36;
$table-border-color:         #002b36;
$table-dark-bg:              #002b36;
$table-dark-border-color:    #002b36;
$table-dark-color:           #002b36;
