/*-- scss:defaults --*/
$font-weight-normal:           400 !default;
$font-weight-bold:      600 !default;


/*-- scss:rules --*/
h1, h2, h3, h4, .subtitle, .sidebar-title, .quarto-title-meta-heading {
  font-family: ff-scala;
}

.toc-title{
  font-family: ff-scala;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border-top: 2px solid white;
}
table th, td, tr {
    padding: 2px 2px;
    border-top: dashed 2px white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: white;
}
td { font-size: var(--bs-body-font-size); }
th { font-size: var(--bs-body-font-size); }

dt {
  float: left;
  width: 50px;
  text-align: left;
  font-weight: bold;
}

dl {
  margin: 0.5em 0.5em 0.5em 1em;
}

dd {
  margin: 0 0 0 50px;
}

figcaption {
  text-align: center;
}

/*caption {
  font-size: smaller;
}

#tbl-radical-interpreter, 
#tbl-generic-game, 
#tbl-stag-hunt, 
#tbl-global-game,
#tbl-underspecified,
#tbl-simple-game,
#tbl-death-damascus,
#tbl-up-down{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}*/


.column-container{
  font-weight: 300;
  font-size: smaller;
}