ol.example {
  list-style: none;
  padding-left: 0;
}

ol.example > li {
  position: relative;
  padding-left: 2em;
}

ol.example > li::marker {
  content: "";
}

ol.example > li::before {
  content: "(" counter(list-item) ")";
  position: absolute;
  left: 0;
}